<h1> Edit: <%= @playlist.name %> </h1>

<%= form_for @playlist, method: :put do |f| %>
	<%= f.text_field :name %>
	<%= f.submit 'Change Name' %>
<% end %>

<%= link_to 'Delete Playlist', @playlist, method: :delete, data: {confirm: 'Are you sure?'} %>

<h2> Current Songs </h2>
<%= "Playlist is Empty" if @musics.empty? %>
<%= render '/song_entries/delete_form' unless @musics.empty?%>

<br/>
<br/>

<h2> Available Songs </h2>
<%= "No song available" if @new_musics.empty? %>
<%= render '/song_entries/new_form' unless @new_musics.empty?%>

<br/>
<br/>
<br/>
<%= link_to 'Back to playlist', playlist_path(@playlist) %>