<h1> Edit: <%= @playlist.name %> </h1>
<%= form_for @playlist, method: :put do |f| %>
	<%= f.label :name %><br/>
	<%= f.text_field :name %><br/><br/>

	<%= f.submit 'Save Changes' %>
<% end %>

<%= link_to 'Delete Playlist', @playlist, method: :delete %>