<h1><%= link_to @playlist.name, edit_playlist_path(@playlist) %></h1>
<p>
	<%= render 'edit_description' %>
</p><br/>

<h2>
	<%= "0) EMPTY PLAYLIST" if @playlist.musics.empty? %>
	<%= "1) #{@playlist.musics.first.title}" unless @playlist.musics.empty? %>
</h2>
<div class='container playerDiv'>
	<audio id='audioPlayer' controls>
		<%= render '/musics/stream', music: @playlist.musics.first unless @playlist.musics.empty?%>
	</audio><br>
</div>

<button id='previous'>Previous</button>
<button id='next'>Next</button><br/><br/>

<ul class='songList'>
	<% @playlist.musics.each_with_index do |song, idx| %>
		<li class=<%="musicSource"%>><%= idx + 1 %>) <%= link_to song.title, music_path(song) %></li>
	<% end %>
	<% if @playlist.musics.empty? %>
		<li> "No Songs" </li>
	<% end %>
</ul>

<footer class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <ul class="nav nav-pills">
			 <li role="presentation"><%= link_to "Public Playlist", playlists_path %></li>
			 <li role="presentation"><%= link_to "My Playlist", user_path(current_user) %></li>
		</ul>
  </div>
</footer>