<h1><%= link_to @playlist.name, edit_playlist_path(@playlist) %></h1>
<p>
	<%= render 'edit_description' %>
</p><br/>

<h2>
	<%= "0) EMPTY PLAYLIST" if @playlist.musics.empty? %>
	<%= "1) #{@playlist.musics.first.title}" unless @playlist.musics.empty? %>
</h2>

<audio id='audioPlayer' controls>
	<%= render '/musics/stream', music: @playlist.musics.first unless @playlist.musics.empty?%>
</audio><br>

<button id='previous'>Previous</button>
<button id='next'>Next</button><br/><br/>

<ul class='songList'>
	<% @playlist.musics.each_with_index do |song, idx| %>
		<li class=<%="musicSource"%>><%= idx + 1 %>) <%= link_to song.title, music_path(song) %></li>
	<% end %>
	<% if @playlist.musics.empty? %>
		<li> "No Songs" </li>
	<% end %>
</ul>