<h1><%= link_to @playlist.name, edit_playlist_path(@playlist), style: "font-size:40px;font-weight:bold;"%></h1>
<br/>
<br/>
<p>
	<%= render 'edit_description' %>
</p>
<br/>
<div class='container playerDiv'>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 titleContainer">
			<h2 class=songTitle>
				<%= "(0) EMPTY PLAYLIST" if @playlist.musics.empty? %>
				<%= "(1) #{@playlist.musics.first.title}" unless @playlist.musics.empty? %>
			</h2>
		</div> <!-- TitleContainerDiv -->
	</div> <!-- TitleContainer Row -->
	<div class="row trackButtonsRow">
		<div class="col-xs-1 col-xs-offset-4">
				<button id='previous'><%= image_tag('rewind.png', size: '15') %></button>
		</div> <!-- PreviousButtonDiv -->
		<div class="col-xs-1 col-xs-offset-2">
			<button id='next'><%= image_tag('fast-forward.png', size: '15') %></button>
		</div> <!-- NextButtonDiv -->			
	</div> <!-- TrackButtonRow -->
	<div class="row audioRow">
		<div class="col-xs-1 col-xs-offset-3">
			<audio id='audioPlayer' controls>
				<%= render '/musics/stream', music: @playlist.musics.first unless @playlist.musics.empty?%>
			</audio>
		</div> <!-- AudioDiv -->
	</div>	<!-- AudioRow -->
</div> <!-- PlayerDiv -->
<br/>
<!-- <div class='playlistContainer'> -->
	<ol class='songList'>
		<% @playlist.musics.each_with_index do |song, idx| %>
			<li class="musicSource <%= idx %>">(<%= idx + 1%>) <%= link_to song.title, music_path(song) %></li>
		<% end %>
		<% if @playlist.musics.empty? %>
			<li> "No Songs" </li>
		<% end %>
	</ol>
<!-- </div> -->
<footer class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <ul class="nav nav-pills">
			 <li role="presentation"><%= link_to "Public Playlist", playlists_path %></li>
			 <% if current_user %>
			 	<li role="presentation"><%= link_to "My Playlist", user_path(current_user) %></li>
			 <% end %>
		</ul>
  </div>
</footer>