<% if current_user == @playlist.user %>
	<h1><%= link_to @playlist.name, edit_playlist_path(@playlist), style: "font-size:40px;font-weight:bold;"%></h1>
<% else %>
	<h1><%= @playlist.name %></h1>
<% end %>
<br/><br/>
<center>
	<noscript><%= render 'edit_description' %></noscript>
	<%= react_component 'PlaylistDescription', { playlist: @playlist, authenticate: @playlist.user == current_user } %>
</center>
<br/>
<b>Created By: <%= link_to @playlist.user.username.capitalize, user_path(@playlist.user) %></b>
<%= render '/musics/audioPlayer', {musics: @musics, musicEmpty: @musics.empty?} %>