<h1><%= link_to @playlist.name, edit_playlist_path(@playlist) %></h1>
<p>
	<%= render 'edit_description' %>
</p><br/>

<h2>
	<%# "0: EMPTY PLAYLIST" if @playlist.musics.empty? %>
	<%# @playlist.musics[@stream].title unless @playlist.musics.empty? %>
</h2>

<%= render '/musics/stream', music: @playlist.musics[0] %>

<!-- <audio id='audioPlayer' controls>
	<%# render 'song', music: @musics.first %>
</audio><br> -->



<%# link_to 'Previous', previous_playlists_path(@playlist, stream: @stream) %>
<%# link_to 'Next', next_playlists_path(@playlist, stream: @stream) %>

<ul>
	<% @playlist.musics.each_with_index do |song, idx| %>
		<li class="musicSource">(<%= idx %>) <%= link_to song.title, stream_musics_path(song) %></li>
	<% end %>
</ul>