<h1> Local Music Server Homepage </h1>

<p>Musics in storage folder</p>
<ul class='songList'>
	<% @musics.each do |music| %>
		<li><%= link_to music.title, music_path(music)  %></li>
	<% end %>
</ul>

<%= form_for :music, method: :get, url: search_musics_path, :html => {:id => "search"} do |f| %>
	<%= f.label	'Music Search' %><br/>
	<%= f.text_field :title, placeholder: "Enter Exact Song Title" %>
<% end %>

<%= link_to "Add Songs", new_music_path %>