<noscript>
	<h1> Local Music Server Homepage </h1>
	<br/><br/>
	<%= render 'new' %>
	<h2>Musics in Storage</h2>
	<ul class='searchableList'>
		<% @musics.each do |music| %>
			<li>
				<%= link_to music.title, music_path(music)  %>
				<%= form_for( music, method: :delete, html: {style: 'display:inline'} ) do |f| %>
				  <%= image_submit_tag("trash-bin.gif", size: "18", class: "isDisabled-#{isSessionGuest?}") %>
				<% end %>
			</li>
		<% end %>
	</ul>
</noscript>

<%= react_component 'Musics', { musics: @musics, guest: isSessionGuest? } %>