<strong> Instructions </strong>
<ul>
	<li> Type title exactly as filename </li>
	<li> ex. song.mp3 (case sensitive) </li>
	<li> Place song file into /public/music folder </li>
</ul>

<%= form_for @music do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.submit "Store Music" %>
<% end %>

<%= link_to 'Home', '/' %>
<%= link_to 'Scan Folder', scan_path %>