<h1> Add New Songs </h1>

<%= form_for @music do |f| %>
	<%= f.text_field :title, placeholder: 'Song Title' %><br/>
	<%= f.file_field :audio %><br/><br/>
	<%= f.submit "Store Music" %>
<% end %>

<footer class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <ul class="nav nav-pills">
			 <li role="presentation"><%= link_to "Back to Songs List", musics_path %></li>
		</ul>
  </div>
</footer>