<!DOCTYPE html>
<html>
  <head>
    <title>MusicServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', '/' %> / 

      <% if user_signed_in? %>
        <%= link_to current_user.email, new_music_path %> / 
      <% end %>

      <%= render 'devise/menu/registration_items' %> / 
      <%= render 'devise/menu/login_items' %>

    </nav>

	  <!-- <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p> -->

    <% flash.each do |key, value| %>
	    <div style='color:red' class="alert alert-<%= key %>">
	      <%= value %>
	    </div>
	  <% end %>

    <%= yield %>
  </body>
</html>
