<!DOCTYPE html>
<html>
  <head>
    <title>MusicServer</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <!-- makes css respsonsive with mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cherry+Cream+Soda" />
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/flash' %>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>